<!DOCTYPE html>
<html>
	<head>
		<title>{{RECIPIE TITLE}}</title>
	</head>
	<body>
		<h1>{{RECIPIE TITLE}}</h1>
		<h2>Ingredients</h2>
		<ul>
			<li>{{LIST OF INGREDIENTS}}</li>
		</ul>
		<h2>Method</h2>
		<ol>
			<li>{{METHOD STEPS}}</li>
		</ol>
	</body>
</html>